

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

/*header*/
.header{
    background-color: #f8f9fa;
    padding: 20px 0;
}

.header-container{
    display:flex;
justify-content: space-between;
align-items: center;
}

.nav{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-link{
    color: #000;
    padding: 24px 0;
    font-size: 16px;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part{
    color: #2e2f42;
}

.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}


/*.nav-link{
    display: block;
    padding: 24px 0;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}*/

.menu-link:hover,
.menu-link:focus{
    color: #404bbf;
}

.contacts{
    font-style: normal;
    margin-left: auto;
    display: flex;
}

.contacts-link{
    
    padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.contacts-link:hover,
.contacts-link:focus{
    color: #404bbf;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.contacts-item{
    font-size: 14px;
    color: #666;
}

/*main*/

.main-section{
    background-color: #2e2f42;
    width: 1440px;
        height: 600px;
        padding: 120px;
}

.main-text{
    font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        text-align: center;
        margin: auto;
}
.button{
        background-color: #4d5ae5;
        font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
        line-height: 1.5;
        color: #ffffff;
        cursor: pointer;
        border: none;
        min-width: 169px;
        min-height: 56px;
border-radius: 4px;
    padding: 16px 32px;
    margin: auto;
}

.button:hover,
button:focus{
    background-color: #404BBF;
}
/*page-two*/
.two-title{
    font-weight: 500;
    font-size: 20px;
        line-height: 1.2;
        color: #2e2f42;
        letter-spacing: 0.02em;
}

.two-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

.two-item {
    flex-basis: calc(100%-72px)/4;
}

.two-list {
    display: flex;
    gap: 24px;
}
/*team*/
.team{
    background-color: #f4f4fd;
}

.team-title{
    font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        text-align: center;
        
}

.team-main{
    display:flex;
    gap: 24px;
}

.team-link{
    background-color:#ffffff ;
    flex-basis: calc(100%-72px)/4;
    display: block;
    width: 100%;
    height: auto;
    display: block;
}
/*portfolio*/
.portfolio-title{
    font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.list-portfolio{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.p-link{
    display: block;
    max-width: 100%;
    height: auto;
    flex-basis: calc(100%-96px)/6;
}












/*footer*/
.footer-logo .logo-part {
    color: #f4f4fd;
}

.page-footer {
    background-color: #2e2f42;
    width: 1440px;
        height: 312px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}